body {
    font-family: 'Arial', sans-serif;
    background-color: #fbfbfb;
    color: #2c3e50;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    max-width: 800px;
    margin: 20px auto;
    background-color: #4eae51;
    color: #000000;
    padding: 20px 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 2px solid #266929;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.profile-picture {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-right: 20px;
    border: 1px solid #ffffff;
}

header h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin: 0;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fcfcfc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 1px solid #a0cf15;
}

h1 {
    color: #efecec;
    text-align: center;
}

h2 {
    color: #266929;
    border-bottom: 3px solid #231942;
    padding-bottom: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #e5efe7;
    margin: 5px 0;
    padding: 10px;
    border-left: 5px solid #2eba79;
    border-radius: 4px;
    color: #34495e;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #2c3e50;
    color: #ecf0f1;
    position: fixed;
    bottom: 0;
    width: 100%;
}

a {
    color: #219a64;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: #6096fb;
}

.project {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.project h3 {
    color: #4a90e2;
}

.project p {
    margin-bottom: 10px;
}
